{% extends "base.html" %}
{% block messages %}{% endblock %}

{% block title %}Privatumo politika{% endblock %}

{% block extra_head %}
<style>
  .entry-content h1 {
    margin: 0 0 24px !important;
    font-weight: 700 !important; /* Bold pavadinimas */
  }
  .entry-content p {
    margin: 12px 0 !important;
  }
  .entry-content .sec {
    margin: 48px 0 12px !important;
    font-weight: 400 !important;
  }
  .entry-content .sec + p {
    margin-top: 0 !important;
  }
</style>
{% endblock %}

{% block content %}
<section class="pt-[50px]">
  <div class="container">

    <div class="entry-content mb-6 md:mb-[50px] max-w-[800px] mx-auto">
      <h1>Privatumo politika</h1>
      <p class="text-center">
        Ši privatumo politika nustato, kaip mes saugome ir naudojame informaciją, kurią jūs pateikiate
        naudodamiesi elektronine rūbų parduotuve <strong>www.urock.lt</strong>.
      </p>
    </div>

    <div class="entry-content mb-6 md:mb-[50px] max-w-[800px] mx-auto">
      <h2>Bendrosios nuostatos</h2>
      <p>
        Privatumo prekių pirkimo elektroninėje parduotuvėje www.urock.lt taisyklės (toliau – Taisyklės) sudarytos siekiant užtikrinti Jūsų
        (toliau – Pirkėjas) ir elektroninėje parduotuvėje www.urock.lt (toliau – Parduotuvė) rūbus parduodančios UAB „UROCK“ (toliau – Pardavėjas)
        teises, abiejų šalių pareigas, atsakomybę, asmens duomenų apsaugos taisykles ir kitas su prekių pirkimu–pardavimu Parduotuvėje bei
        tiesioginės rinkodaros pasiūlymais susijusias nuostatas. Pirkėjas, pirkdamas internetu, suformavęs prekių krepšelį ir pradėdamas pildyti
        užsakymo formą bei pažymėjęs varnelę prie teiginio „Sutinku su taisyklėmis“ patvirtina, kad su Taisyklėmis susipažino, su jomis sutinka ir
        įsipareigoja jų laikytis. Pardavėjas – Lietuvos Respublikos VĮ „Registrų centras“, Juridinių asmenų registre įregistruotas juridinis asmuo
        UAB „UROCK“, juridinio asmens kodas 302923014, adresas: Krėvės pr. 104A-13, 50380 Kaunas, el. paštas: <a href="mailto:info@urock.lt">info@urock.lt</a>.
      </p>

      <p>1. Pirkėjui užsakant prekes elektroninėje Parduotuvėje registracija nereikalinga, tačiau tinkamam užsakymo įvykdymui reikalingi tokie asmens duomenys kaip vardas, pavardė, elektroninis paštas, adresas, kuriuo bus pristatytos prekės, telefono numeris ir kiti užsakyme nurodyti duomenys.</p>
      <p>2. Pirkėjas patvirtina, kad jis žino apie savo teisę nepateikti asmens duomenų, tačiau supranta, kad jie yra būtini užsakymo įvykdymui.</p>
      <p>3. Pirkėjo asmens duomenys (1 punktas) renkami ir tvarkomi elektroninės prekybos tikslais: sutarčių sudarymui, užsakymų vykdymui, finansinių dokumentų išrašymui, klausimų, susijusių su prekių pristatymu ir perdavimu sprendimui, kitų sutartinių įsipareigojimų vykdymui.</p>
      <p>4. Pirkėjo bei kitų www.urock.lt svetainės lankytojų asmens duomenys (el. pašto adresas) renkami ir tvarkomi tiesioginės rinkodaros tikslais, jei Pirkėjas užsakymo metu pažymi varnelę, kad sutinka gauti pasiūlymus, arba kiti lankytojai savo el. pašto adresą įveda skiltyje „Naujienlaiškis“. Sutikimą galima bet kada atšaukti pranešus Pardavėjui.</p>
      <p>5. Pirkėjo bei kitų www.urock.lt lankytojų asmens duomenys tvarkomi ir saugomi ne ilgiau, nei reikia šiose Taisyklėse nurodytais tikslais.</p>
      <p>6. Pirkėjo asmens duomenys, susiję su prekyba, saugomi 10 (dešimt) metų nuo sutarties sudarymo.</p>
      <p>7. Pirkėjas bei kiti klientai gali bet kada atsisakyti gauti tiesioginės rinkodaros pranešimus.</p>
      <p>8. Pardavėjas turi teisę Pirkėjo bei kitų www.urock.lt lankytojų asmens duomenis perduoti tik savo pasirinktiems tretiesiems asmenims 3 ir 4 punktuose nurodytais tikslais ir tik tiek, kiek reikia šiems tikslams pasiekti.</p>
      <p>9. Pardavėjas taiko duomenų apsaugą pagal LR asmens duomenų teisinės apsaugos įstatymą ir ES Bendrąjį duomenų apsaugos reglamentą (BDAR).</p>
      <p>10. Pardavėjas imasi atitinkamų techninių ir organizacinių priemonių, kad užtikrintų visų tvarkomų asmens duomenų apsaugą nuo neteisėto sunaikinimo, praradimo, pakeitimo, neįgalioto atskleidimo ar prieigos. Mūsų svetainėje naudojami tik būtini techniniai slapukai, užtikrinantys tinkamą el. parduotuvės veikimą. Nenaudojame trečiųjų šalių slapukų ar sekimo įrankių.</p>

      <p>11. Pirkėjas bei kiti www.urock.lt lankytojai turi šias teises:</p>
      <p>11.1. Prašyti leisti susipažinti su duomenimis ir juos ištaisyti arba ištrinti, arba apriboti tvarkymą;</p>
      <p>11.2. Nesutikti, kad duomenys būtų tvarkomi;</p>
      <p>11.3. Gauti savo asmens duomenis susistemintu, įprastu formatu (teisė į duomenų perkeliamumą);</p>
      <p>11.4. Atšaukti sutikimą;</p>
      <p>11.5. Pateikti skundą Valstybinei duomenų apsaugos inspekcijai.</p>

      <p>12. Pirkėjas bei kiti www.urock.lt lankytojai gali pasinaudoti savo teisėmis kreipdamiesi į Pardavėją el. paštu <a href="mailto:info@urock.lt">info@urock.lt</a> arba paštu: UAB „UROCK“, Krėvės pr. 104A-13, 50380 Kaunas.</p>

      <p>13. Pildant užsakymo formą ar kitaip naudojantis Parduotuve, Pirkėjas privalo pateikti išsamius ir teisingus duomenis.</p>

      <p>Jei manote, kad bet kokia jūsų pateikta informacija yra klaidinga arba neišsami, susisiekite su mumis el. paštu <a href="mailto:info@urock.lt">info@urock.lt</a> – nedelsdami ištaisysime visą klaidingą informaciją.</p>
    </div>

  </div>
</section>
{% endblock %}
