{% extends "base.html" %}
{% block messages %}{% endblock %}

{% block title %}Keitimo ir grąžinimo sąlygos{% endblock %}

{% block extra_head %}
<style>
  .entry-content h1 {
    margin: 0 0 24px !important;
    font-weight: 700 !important; /* Bold pavadinimas */
  }
  .entry-content p {
    margin: 12px 0 !important;
  }
  .entry-content .sec {
    margin: 48px 0 12px !important;
    font-weight: 400 !important;
  }
  .entry-content .sec + p {
    margin-top: 0 !important;
  }
</style>
{% endblock %}

{% block content %}
<section class="pt-[50px]">
  <div class="container">
    <div class="entry-content mb-6 md:mb-[50px] max-w-[800px] mx-auto">
      <h1>Keitimo ir grąžinimo sąlygos</h1>

      <p>1. Pirkėjas, nenurodydamas priežasties, per 14 (keturiolika) kalendorinių dienų nuo prekių perdavimo jam dienos turi teisę prekes grąžinti Pardavėjui.</p>

      <p>2. Apie ketinimą grąžinti prekes Pirkėjas praneša pateikdamas aiškų pareiškimą el. paštu <a href="mailto:info@urock.lt">info@urock.lt</a>.</p>

      <p>3. Pinigai grąžinami į Pirkėjo nurodytą banko sąskaitą, išskyrus atvejus, kai Pirkėjas ir Pardavėjas susitaria kitaip.</p>

      <p>4. Parduotų prekių trūkumai šalinami, nekokybiškos prekės keičiamos ar grąžinamos Taisyklėse nustatyta tvarka ir vadovaujantis Lietuvos Respublikos teisės aktais.</p>

      <p>5. Pirkėjas gali grąžinti prekę, jei nepasibaigė grąžinimo terminas, prekė nebuvo sugadinta ar iš esmės nepakeista jos išvaizda ir ji nebuvo naudota. Visos grąžinamos prekės turi būti su autentiškomis etiketėmis, apsauginiais maišeliais, originalia pakuote bei kartu su prekės ir pirkimo dokumentais.</p>

      <p>6. Už grąžinamos prekės tinkamą sukomplektavimą ir supakavimą atsako Pirkėjas.</p>

      <p>7. Visais grąžinimo atvejais Pirkėjas privalo kreiptis į UAB „UROCK“, juridinio asmens kodas 302923014, adresas: Krėvės pr. 104A-13, 50380 Kaunas, el. paštas: <a href="mailto:info@urock.lt">info@urock.lt</a>, ir suderinti grąžinimo klausimus.</p>

      <p>8. Pardavėjas turi teisę nepriimti grąžinamų prekių, jei Pirkėjas nesilaiko Taisyklėse nustatytos grąžinimo tvarkos.</p>

      <p>9. Negrąžinami pinigai už prekes, kurios tyčia ar dėl neatsargumo buvo sugadintos (paveiktos cheminėmis medžiagomis, vandeniu, atvira ugnimi, aukšta temperatūra, aštriais objektais ir pan.), jeigu buvo pažeistos prekės naudojimo ar saugojimo taisyklės, arba prekės naudotos netinkamai ar ne pagal paskirtį.</p>

      <p>10. Jei Pirkėjui buvo pristatytos ne tos prekės, Pirkėjas privalo apie tai nedelsdamas, bet ne vėliau kaip per 7 (septynias) darbo dienas, informuoti Pardavėją. Pardavėjas savo sąskaita pasiima tokias prekes ir jas pakeičia tinkamomis. Jei neturi užsakytų prekių, grąžina Pirkėjui sumokėtus pinigus per 14 (keturiolika) kalendorinių dienų nuo prekės paėmimo.</p>

      <p>11. Pardavėjas turi teisę negrąžinti Pirkėjui sumokėtų sumų tol, kol prekės negrąžintos Pardavėjui.</p>

      <p>12. Pardavėjas įsipareigoja priimti ir įvertinti Pirkėjo grąžinamas prekes ne vėliau kaip per 7 (septynias) darbo dienas nuo jų gavimo ir priimti sprendimą dėl pinigų grąžinimo arba prekės pakeitimo, laikantis įstatymų ir Taisyklių nuostatų.</p>
    </div>
  </div>
</section>
{% endblock %}
