<p>Sveiki,</p>

<p>Pirmiausia noriu padėkoti, kad prenumeruojate <strong>UROCK</strong> naujienas. Mums tai labai svarbu.</p>

<p>Asmeniškai šis projektas ne tiek apie prekybą drabužiais, kiek apie galimybę vyrams susikurti stipresnį įvaizdį. Todėl, atsižvelgdami į poreikį ir jį išanalizavę, suformuojame labai individualius pasiūlymus kiekvienam.</p>

<p>Jei norėtum gauti savo individualų pasiūlymą ir jį išbandyti, laukčiau asmeniškai atsakymo į šį laišką.</p>

<p>Ko mums reikia (ir be ko negalėtume pateikti individualaus pasiūlymo) – tai jūsų ūgio ir svorio.<br>
O jei dar pridėtumėte ir savo poreikių, ko konkrečiai norite, būtų idealu. Pavyzdžiui:<br>
„Turiu daug darbinių susitikimų“, „esu viešas žmogus, todėl svarbu atrodyti solidžiai“, „ieškau išeiginio įvaizdžio išeiti į miestą su žmona ar drauge“ ir pan.</p>

<p>Mes, esant galimybei, parengsime jums individualų įvaizdžio pasiūlymą bei pateiksime atsakymą atsižvelgdami į jūsų poreikius.</p>

<p>Kitas būdas, kurį siūlome – tai savarankiškas apsilankymas mūsų kataloge:<br>
👉 <a href="https://urock.lt/katalogas">https://urock.lt/katalogas</a></p>

<p>Ten radę patinkantį drabužį ar pilną įvaizdį (nesvarbu, ar tai jūsų dydis), spauskite „Noriu pasimatuoti“, užpildykite trumpą formą, ir mes su jumis susisieksime dėl drabužių išbandymo galimybės.</p>

<p>Dar kartą dėkoju, kad prenumeruojate.<br>

<p>Su pagarba,<br>
<strong>Šarūnas Nakvosas</strong></p>

<hr style="margin-top: 24px; border: none; border-top: 1px solid #eee;">
<p style="font-size: 13px; color: #777;">
Jei nebenorite gauti naujienų,
<a href="{{ unsubscribe_url }}">atsisakykite prenumeratos čia</a>.
</p>
