{% extends "base.html" %}
{% block messages %}{% endblock %}
{% load static %}

{% block head_extra %}
  <!-- Mobile LCP -->
  <link rel="preload"
        as="image"
        href="{% static 'fe/assets/img/canali-jacket-for-men.jpg' %}"
        fetchpriority="high">

  <!-- Desktop LCP -->
  <link rel="preload"
        as="image"
        href="{% static 'fe/assets/img/Canali_Blazer_for_men_1.jpg' %}"
        media="(min-width: 768px)">
{% endblock %}

{% block content %}
  <!-- Intro Section 562-->
  <section class="flex items-center justify-center md:min-h-[52vh] py-12 px-5 text-center">
    <div class="max-w-3xl">
    <p class="mx-auto text-center text-[12px] mb-8 text-brand-maroon block md:hidden">
      Prestižiniai drabužiai vyrams,<br />
      kurkite garderobą kartu su UROCK
    </p>

      <h1 class="text-[24px] max-w-[251px] md:max-w-full text-brand-maroon md:text-[40px] font-serif font-normal md:font-bold mb-8">
        VYRIŠKŲ DRABUŽIŲ IR ĮVAIZDŽIO PARTNERIS
      </h1>

      <p class="text-[12px] md:text-[13px] mb-8 md:mb-4 text-brand-maroon hidden md:block">
        Prabangūs dizainerių drabužiai vyrams, kurie vertina laiką ir įvaizdį
      </p>
      <p class="text-[13px] text-[#C7C9C7] mb-12 hidden md:block">
      Kuriame stiprų garderobą palaipsniui - kartu su jumis
    </p>

      <a
        href="{% url 'catalog:product_list' %}"
        class="tw-button-bg-mrm inline-block p-[8.5px] text-sm transition-colors duration-300 opacity-70"
        >
        Peržiūrėti
        </a>


    </div>
  </section>

 <section id="catalog" class="grid md:grid-cols-2 gap-0 mb-12">
  {# Image 1 (HERO / LCP) #}
  <picture>
  <source
    media="(max-width: 767px)"
    srcset="{% static 'fe/assets/img/canali-jacket-for-men.jpg' %}">

  <source
    media="(min-width: 768px)"
    srcset="{% static 'fe/assets/img/Canali_Blazer_for_men_1.jpg' %}">

  <img
    src="{% static 'fe/assets/img/Canali_Blazer_for_men_1.jpg' %}"
    alt="canali-blazer-for-men"
    width="800"
    height="508"
    class="w-full h-auto object-cover"
    loading="eager"
    fetchpriority="high"
    decoding="async">
</picture>

  {# Image 2 #}
  <picture>
  <!-- MOBILE -->
    <source media="(max-width: 767px)"
      srcset="{% static 'fe/assets/img/louis-vuitton-jacket-for-men.jpg' %} 640w"
      sizes="(max-width: 767px) 92vw, 640px">

    <!-- DESKTOP -->
    <source media="(min-width: 768px)" type="image/jpeg"
            srcset="{% static 'fe/assets/img/Louis_Vuitton_Jacket_for_men_2.jpg' %}">
    <img
      src="{% static 'fe/assets/img/Louis_Vuitton_Jacket_for_men_2.jpg' %}"
      alt="louis-vuitton-jacket-for-men"
      class="w-full h-auto object-cover"
      width="640" height="508"
      loading="lazy" decoding="async">
  </picture>

  {# Image 3 #}
  <picture>
     <!-- MOBILE -->
  <source media="(max-width: 767px)"
      srcset="{% static 'fe/assets/img/prada-sunglasses-for-men.jpg' %} 640w"
      sizes="(max-width: 767px) 92vw, 640px">
    <!-- DESKTOP -->
    <source media="(min-width: 768px)" type="image/jpeg"
             srcset="{% static 'fe/assets/img/Prada_sunglasses_3.jpg' %}">
    <img
      src="{% static 'fe/assets/img/Prada_sunglasses_3.jpg' %}"
      alt="prada-sunglasses-for-men"
      class="w-full h-auto object-cover"
      width="640" height="508"
      loading="lazy" decoding="async">
  </picture>

  {# Image 4 #}
  <picture>
    <!-- MOBILE -->
<source media="(max-width: 767px)"
      srcset="{% static 'fe/assets/img/zegna-for-men.jpg' %} 640w"
      sizes="(max-width: 767px) 92vw, 640px">
    <source media="(max-width: 767px)" type="image/jpeg"
            srcset="{% static 'fe/assets/img/zegna-jacket-for-men.jpg' %} 640w"
            sizes="(max-width: 767px) 92vw, 640px">
    <!-- DESKTOP -->
    <source media="(min-width: 768px)" type="image/jpeg"
    srcset="{% static 'fe/assets/img/Zegna_jacket_for_men_4.jpg' %}">

    <img
      src="{% static 'fe/assets/img/Zegna_jacket_for_men_4.jpg' %}"
      alt="zegna-jacket-for-men"
      class="w-full h-auto object-cover"
      width="640" height="508"
      loading="lazy" decoding="async">
  </picture>
</section>
{% endblock %}
